.box-address {
    text-align:center;
    width: 940px;
    margin-right: 30px;
    padding-top: 50px;
}
.maps { 
    margin-left: 320px;
    margin-top: 20px;
}
.main {
    margin: 0 auto;
    position: relative;
    width: 940px
}
.box-contact h1 {
    width: 600px;
}